@{ 
    Layout = null;
}
<!DOCTYPE html>
<html>
    <head>
        <title></title>
    </head>
    <body>
        <div class="global">
            <button type="submit" class="button">нажми</button>
        </div>
        <script src="~/scripts/jquery-2.2.3.min.js"></script>
        <script src="~/scripts/jquery.unobtrusive-ajax.min.js"></script>
        <script src="~/scripts/Page.js"></script>
    </body>
</html>
