USE [master]
GO
/****** Object:  Database [auction]    Script Date: 03.07.2016 21:44:23 ******/
CREATE DATABASE [auction]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'auction', FILENAME = N'C:\Users\Галактион\auction.mdf' , SIZE = 3264KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'auction_log', FILENAME = N'C:\Users\Галактион\auction_log.ldf' , SIZE = 1344KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [auction].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [auction]
GO
/****** Object:  Table [dbo].[Archive]    Script Date: 03.07.2016 21:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Archive](
	[LotId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Authentication]    Script Date: 03.07.2016 21:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authentication](
	[LoginId] [uniqueidentifier] NOT NULL,
	[Login] [nvarchar](50) NOT NULL,
	[Password] [int] NOT NULL,
 CONSTRAINT [PK_Authentication] PRIMARY KEY CLUSTERED 
(
	[LoginId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[AuthorizationUsers]    Script Date: 03.07.2016 21:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizationUsers](
	[LoginId] [uniqueidentifier] NOT NULL,
	[RoleId] [int] NOT NULL DEFAULT ((1))
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Buy]    Script Date: 03.07.2016 21:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buy](
	[LotId] [uniqueidentifier] NOT NULL,
	[NewUserId] [uniqueidentifier] NOT NULL,
	[Time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LotId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Image]    Script Date: 03.07.2016 21:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Image](
	[Id] [uniqueidentifier] NOT NULL,
	[Content] [varbinary](max) NOT NULL,
	[ContentType] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Lot]    Script Date: 03.07.2016 21:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lot](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newid()),
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](50) NULL,
	[ImageId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Relation]    Script Date: 03.07.2016 21:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Relation](
	[idUser] [uniqueidentifier] NOT NULL,
	[idLot] [uniqueidentifier] NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Role]    Script Date: 03.07.2016 21:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] NOT NULL,
	[Role] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Users]    Script Date: 03.07.2016 21:44:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [uniqueidentifier] NOT NULL DEFAULT (newid()),
	[Name] [nvarchar](50) NOT NULL,
	[Surname] [nvarchar](50) NOT NULL,
	[Mail] [nvarchar](50) NOT NULL,
	[LoginId] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Archive] ([LotId], [UserId]) VALUES (N'984e19c5-282b-4b05-9dc9-8aaaa6171c12', N'f380a72a-e455-416f-b899-048787805ada')
INSERT [dbo].[Authentication] ([LoginId], [Login], [Password]) VALUES (N'ceefd8da-e950-459c-949f-414d3644fc0f', N'Good', -1623739142)
INSERT [dbo].[Authentication] ([LoginId], [Login], [Password]) VALUES (N'069ae1aa-958e-42a5-b8c8-6e4ad425a705', N'Nadya', 698157421)
INSERT [dbo].[Authentication] ([LoginId], [Login], [Password]) VALUES (N'160f7256-94b7-4eb4-a65e-70bb6d2aac8d', N'user3', -1623739142)
INSERT [dbo].[AuthorizationUsers] ([LoginId], [RoleId]) VALUES (N'160f7256-94b7-4eb4-a65e-70bb6d2aac8d', 2)
INSERT [dbo].[AuthorizationUsers] ([LoginId], [RoleId]) VALUES (N'069ae1aa-958e-42a5-b8c8-6e4ad425a705', 1)
INSERT [dbo].[AuthorizationUsers] ([LoginId], [RoleId]) VALUES (N'ceefd8da-e950-459c-949f-414d3644fc0f', 2)
INSERT [dbo].[Lot] ([Id], [Name], [Description], [ImageId]) VALUES (N'83ca9889-41e0-42ed-a663-18d4f9cb084c', N'Ручка', N'Красивая ручка', NULL)
INSERT [dbo].[Lot] ([Id], [Name], [Description], [ImageId]) VALUES (N'f9995fa8-65a1-458a-b8ad-2caed1f9de8d', N'Глобус', N'Большо и очень красивый. Крутится. Светится', N'2d1ce560-f3e7-4817-8ec6-98831fd4b907')
INSERT [dbo].[Lot] ([Id], [Name], [Description], [ImageId]) VALUES (N'984e19c5-282b-4b05-9dc9-8aaaa6171c12', N'компас', N'маленький', NULL)
INSERT [dbo].[Relation] ([idUser], [idLot]) VALUES (N'2e4a335d-fcf7-4c7e-ad14-1bf4d30ff1ab', N'83ca9889-41e0-42ed-a663-18d4f9cb084c')
INSERT [dbo].[Relation] ([idUser], [idLot]) VALUES (N'2e4a335d-fcf7-4c7e-ad14-1bf4d30ff1ab', N'f17728b4-9b03-429c-a15a-ccc9ccd470dc')
INSERT [dbo].[Relation] ([idUser], [idLot]) VALUES (N'f380a72a-e455-416f-b899-048787805ada', N'9ae68b2c-8027-4fa5-b8c1-d79b81616cf6')
INSERT [dbo].[Role] ([RoleId], [Role]) VALUES (1, N'Admin')
INSERT [dbo].[Role] ([RoleId], [Role]) VALUES (2, N'User')
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Mail], [LoginId]) VALUES (N'f380a72a-e455-416f-b899-048787805ada', N'Светлана', N'Круглова', N'УлицаДом2', N'9057f04c-bc09-40d7-a932-b59ab2443dd0')
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Mail], [LoginId]) VALUES (N'2e4a335d-fcf7-4c7e-ad14-1bf4d30ff1ab', N'Иван', N'Петров', N'моя почта', N'a8c25179-0234-4ab1-aac9-9e77e42041bf')
INSERT [dbo].[Users] ([Id], [Name], [Surname], [Mail], [LoginId]) VALUES (N'5125cbf6-499c-47f4-8e4c-5ae7c4180936', N'Надежда', N'Королева', N'mail', N'069ae1aa-958e-42a5-b8c8-6e4ad425a705')
ALTER TABLE [dbo].[AuthorizationUsers]  WITH CHECK ADD  CONSTRAINT [FK_AuthorizationUsers_ToAuthentication] FOREIGN KEY([LoginId])
REFERENCES [dbo].[Authentication] ([LoginId])
GO
ALTER TABLE [dbo].[AuthorizationUsers] CHECK CONSTRAINT [FK_AuthorizationUsers_ToAuthentication]
GO
ALTER TABLE [dbo].[AuthorizationUsers]  WITH CHECK ADD  CONSTRAINT [FK_AuthorizationUsers_ToRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
GO
ALTER TABLE [dbo].[AuthorizationUsers] CHECK CONSTRAINT [FK_AuthorizationUsers_ToRole]
GO
ALTER TABLE [dbo].[Lot]  WITH CHECK ADD  CONSTRAINT [FK_Lot_ToImage] FOREIGN KEY([ImageId])
REFERENCES [dbo].[Image] ([Id])
GO
ALTER TABLE [dbo].[Lot] CHECK CONSTRAINT [FK_Lot_ToImage]
GO
ALTER TABLE [dbo].[Relation]  WITH CHECK ADD  CONSTRAINT [FK_Relation_ToLot] FOREIGN KEY([idLot])
REFERENCES [dbo].[Lot] ([Id])
GO
ALTER TABLE [dbo].[Relation] CHECK CONSTRAINT [FK_Relation_ToLot]
GO
ALTER TABLE [dbo].[Relation]  WITH CHECK ADD  CONSTRAINT [FK_Relation_ToUsers] FOREIGN KEY([idUser])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Relation] CHECK CONSTRAINT [FK_Relation_ToUsers]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_User_ToAuthentication] FOREIGN KEY([LoginId])
REFERENCES [dbo].[Authentication] ([LoginId])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_User_ToAuthentication]
GO
USE [master]
GO
